body {
    /*height: 3000px;*/
    margin: 0;
    padding:0;
    font-family: "Montserrat", "Helvetica Neue", sans-serif;
    background-color: gainsboro;
}

header{
    position: relative;
    margin: 0;
    padding: 10px;
    background-color: #01645d;
    color: rgba(255, 255, 255, 0.71);
    height: 40px;
    /*text-align: right;*/
}

.left{
    float: left;
    display: block;
    /*font-size: 18px;*/
}

.right{
    text-align: right;
    display: block;
    float: right;
}

.debug{
    font-size: 11px;
}

.dot {
    width: 2px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    pointer-events: none;
    z-index: 10;
}

.highlight{
    pointer-events: none;
    width: 5px;
    height: 5px;
    background-color: rgb(161, 0, 165);





    position: absolute;
    z-index: 10;
}
.sidenav{
    width: 280px;
    height: 700px;
    display: inline-block;
    vertical-align: top;
    padding:10px;
}

.main-container{
    width: 1350px;
}
iframe{
    /*pointer-events: none;*/
    margin: 20px 0 0 20px;
    position: relative;
    display: inline-block;
    width:1024px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}